/****General page styles****/
/* use global selector '*' to remove browser default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* defult box-sizing value is content-box
    content-box: size of element = content + border + padding...
    boarder-box: size of element = specified width (e.g. content + border + padding = specified 300px
    */
}
/* set the background and main font */
body {
  background: #f7cac9;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f7cac9 0%, #92a8d1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f7cac9 0%, #92a8d1 100%);
  color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.3rem;
  font-weight: bolder;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02),
    3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02),
    5px 5px rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02),
    7px 7px rgba(0, 0, 0, 0.02);
}
/* to centralise contents */
header,
form {
  min-height: 10vh;
  display: flex; /* css flex box */
  justify-content: center;
  /* to understande justify-content go to:
    https://www.w3schools.com/csSref/playit.asp?filename=playcss_justify-content&preval=flex-start
    */
  align-items: center;
  /* to understand align-items go to:
    https://www.w3schools.com/csSref/playit.asp?filename=playcss_align-items&preval=initial
    */
  flex-direction: column;
}
/* to remove default blue border when boxes/icons are clicked */
form input:focus,
form,
button:focus,
.done-button:focus,
.delete-button:focus,
select {
  outline: none;
}

/****Styling the Add todo item section****/
form input,
form button {
  padding: 0.5rem;
  font-size: 1.3rem;
  border: none;
  background: white;
}
form input {
  border-radius: 8px 0px 0px 8px;
}
/* adding styles to form button */
form button {
  color: purple;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0px 8px 8px 0px;
}
form button:hover {
  background: purple;
  color: white;
}

/****Styling filter todo item section****/
/* remove default style */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  /* add custom styling */
  color: white;
  background-color: purple;
  width: 10rem;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}
/* positioning the select div */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
/* add arrow back */
.select::after {
  content: "\25BC";
  position: absolute;
  color: white;
  background: purple;
  border-radius: 0px 8px 8px 0px;
  top: 0;
  right: 0;
  padding: 0.6rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
/* add hover effect */
.select:hover::after {
  background: white;
  color: purple;
}


/*****Styling todo items section*****/
.todos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todos {
  min-width: 30%;
  list-style: none;
}
.item {
  margin: 0.5rem;
  background: lightcyan;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.item li {
  flex: 1;
}
.done-button {
  background: mediumseagreen;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.delete-button {
  background: dodgerblue;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.title {
  padding: 0rem 0.5rem;
}
.fa-check,
.fa-trash {
  /* to make the icon unclickable
    so that the whole of the button is clickable
    not just the portion not filled by icon
  */
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  background: grey;
  opacity: 0.6;
}
